body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    color: #333;
}

.header {
    background-color: #222;
    color: #00aaff;
    text-align: center;
    padding: 50px 20px;
}

.palestrantes, .programacao, .inscricao, .local {
    padding: 20px;
    text-align: center;
}

.palestrantes img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.botao-inscricao {
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
